@font-face {
  font-family: "Heyam";
  src: local("Heyam"),
  url("./fonts/Heyam.ttf") format("truetype");
}


.app-container {
  text-align: center;
  position: relative;
  height: 100vh;
  background-color: #a4a4ff;
  overflow: hidden;
  font-family: 'Heyam', cursive;
}

.speech {
  /* Speech bubble styles */
  background: #d2ebff;
  display: inline-block;
  padding: 1%;
  border-radius: 30px;
  border: 3px solid #333;

  /* letter styling*/
  letter-spacing: 3px;
  font-size: 5.5vw;
  -webkit-text-stroke: 0.5px black;
  color: #88cafc;

  /* bubble positioning */
  position: absolute;
  top: 0%; 
  left: 50%;
  transform: translateX(-50%);
  white-space: normal;
  text-align: center;
}

.bluey {
  position: absolute; 
  top: 70%;
  right: 10%; 
  transform: translate(0%,-50%); 
  clip-path: inset(0% 20% 0% 20%);
  width: 31vw; 
  height: auto; 
}

.bandit{
  position: absolute; 
  top: 70%;
  left: 9%; 
  transform: translate(-35%, -66%); 
  width: 20vw; 
  height: auto; 
}

.chili{
  position: absolute; 
  top: 70%;
  left: 10%; 
  transform: translate(475%, -56%); 
  width: 15vw; 
  height: auto; 
}

.bingo{
  position: absolute; 
  top: 70%;
  left: 10%; 
  transform: translate(-25%, -64%); 
  clip-path: inset(37% 20% 0% 20%);
  width: 64vw; 
  height: auto; 
}

.naveen1{
  position: absolute; 
  top: 75%;
  left: 42%; 
  transform: translate(-25%, -64%); 
  width: 25vw; 
  height: auto; 
}

.yes-button,
.no-button {
  padding: 1vw 2vw;
  font-size: 2vw;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin: 1%;
  transition: all 0.2s ease-in-out;
  position: absolute;
  border: 0.2vw solid #333;


}

.yes-button {
  background-color: #00c853;
  position: absolute;
  color: white;
  top: 42%; 
  left: 37.5%; 
  transform: translateX(-50%);
}

.no-button {
  background-color: #d50000;
  color: white;
}

.celebration {
  padding-top: 5vh;
  color:#404066;
}

.celebration h1 {
  letter-spacing: 3px;
  font-size: 6vw;
  color: #404066;

  position: absolute;
  top: -5%;
  left: 41%;
  transform: translateX(-55%);
  white-space: normal;
  text-align: center;
}
.celebrate-bg {
  background-color: #84c6fe;
  
}

.bluey-happy {
  border: 3px solid #333;
  border-radius: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  width: 23vw; 
  height: auto; 
  margin: 2vh auto; 
  display: block; 
  transform: translate(150%, -10%); 
}

.naveen2{
  position: absolute; 
  top: 72%;
  left: 42%; 
  transform: translate(-25%, -64%); 
  width: 30vw; 
  height: auto; 
}
.naveen3{
  position: absolute; 
  top: 80%;
  left: 80%; 
  transform: translate(-25%, -64%); 
  width: 20vw; 
  height: auto; 
}
.naveen4{
  position: absolute; 
  top: 79%;
  left: 5%; 
  transform: translate(-25%, -64%); 
  width: 20vw; 
  height: auto; 
}

.naveen5{
  position: absolute; 
  top: 64%;
  left: 28%; 
  transform: translate(-25%, -64%); 
  width: 25vw; 
  height: auto; 
}

.naveen6{
  position: absolute; 
  top: 69%;
  left: 60%; 
  transform: translate(-25%, -64%); 
  width: 30vw; 
  height: auto; 
}
