@font-face {
  font-family: "Heyam";
  src: local("Heyam"),
  url("./fonts/Heyam.ttf") format("truetype");
}


.app-container {
  text-align: center;
  position: relative;
  height: 100vh;
  background-color: #fdf6f0;
  overflow: hidden;
  font-family: 'Heyam', cursive;
}

.speech {
  margin-top: 40px;
  font-size: 2rem;
  background: #fff;
  display: inline-block;
  padding: 20px;
  border-radius: 30px;
  border: 3px solid #333;
  letter-spacing: 3px;
  font-size: 50px;
}

.bluey {
  width: 250px;
  margin: 30px auto;
}

.yes-button,
.no-button {
  padding: 15px 30px;
  font-size: 1.5rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin: 10px;
  transition: all 0.2s ease-in-out;
}

.yes-button {
  background-color: #00c853;
  color: white;
}

.no-button {
  background-color: #d50000;
  color: white;
  position: absolute;
}

.celebration {
  padding-top: 50px;
}

.celebration h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
